rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /profiles/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /students/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /schoolapp/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }
  }
}
